@font-face {
    font-family: "cera-round-pro";
    src: url("fonts/FONTSPRINGDEMO-CeraRoundProBold.woff") format('woff');
}

body {
    font-family: cera-round-pro, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background: #242424 linear-gradient(5deg, #464646 0%, #353535 51%, #242424 85%);
    overflow: hidden;
    perspective: 300px;
}

body::-webkit-scrollbar {
    display: none;
}

#title {
    position: absolute;
    top: 30%;
    right: 25%;
    width: 50%;
    height: 40%;
    margin: auto;
}

.theme {
    color: #ededed;
    border-color: #ededed;
    transition: color 250ms;
}

.title-text {
    text-align: center;
    letter-spacing: -1.8vh;
    font-size: 11.85vh;
    margin: auto;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#title > p {
    transition: opacity 450ms, color 250ms;
}

.title-text > span {
    transition: transform 450ms ease;
    display: inline-block;
}

.experience {
    width: 100vw;
    height: 80vh;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
}

.experience-card {
    position: relative;
    margin: 1vw;
    z-index: 3;
    border: 5px solid;
    border-radius: 10px;
    background: #777777;
    width: 20vw;
    height: 50vh;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.experience-card > p {
    margin: 10%;
    color: #dddddd;
}

#experience-title-one, #experience-title-two, #experience-title-three, #experience-title-four {
    width: 20vw;
    display: grid;
    font-size: 4vh;
    height: 30vh;
}

#experience-title-one {
    font-size: 2.5vh;
}

#experience-description-one, #experience-description-two, #experience-description-three, #experience-description-four {
    width: 20vw;
    height: 40vh;
    display: grid;
    font-size: 2vh;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.hidden-left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-120%);
    transition: transform 1s, filter 1s, opacity 1s, border-color 350ms;
}

.hidden-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(120%);
    transition: transform 1s, filter 1s, opacity 1s, border-color 350ms;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden-left:nth-child(1) {
    transition-delay: 400ms, 400ms, 600ms, 0s;
}

.hidden-left:nth-child(2) {
    transition-delay: 600ms, 600ms, 800ms, 0s;
}

.hidden-left:nth-child(3) {
    transition-delay: 800ms, 800ms, 1000ms, 0s;
}

.hidden-right:nth-child(1) {
    transition-delay: 800ms, 800ms, 1000ms, 0s;
}

.hidden-right:nth-child(2) {
    transition-delay: 600ms, 600ms, 800ms, 0s;
}

.hidden-right:nth-child(3) {
    transition-delay: 400ms, 400ms, 600ms, 0s;
}